<!DOCTYPE html>


<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        {% block css %}

            <!-- Bootstrap Core CSS -->
            <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css' ) }}" rel="stylesheet">

            <!-- MetisMenu CSS -->
            <link href="{{ url_for('static', filename='lib/metisMenu/metisMenu.min.css' ) }}" rel="stylesheet">



            <!-- Custom CSS -->
            <link href="{{ url_for('static', filename='lib/sb-admin/css/sb-admin-2.css' ) }}" rel="stylesheet">

            {#    <!-- Morris Charts CSS -->#}
            {#    <link href="{{ url_for('static', filename='lib/morrisjs/morris.css' )}}" rel="stylesheet">#}

            <!-- Custom Fonts -->
            <link href="{{ url_for('static', filename='lib/font-awesome/css/fontawesome-all.css' ) }}"
                  rel="stylesheet">

        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        </head>
        <body>
        <div id="wrapper">
        {% block top_navbar %}
            <!-- Navigation -->
            <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('frontend.index') }}"><i class="fa fa-crow fa-fw"></i>
                        EduCerts</a>
                </div>
                <!-- /.navbar-header -->

                <ul class="nav navbar-top-links navbar-right">

                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-comment fa-fw"></i> New Comment
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                            <span class="pull-right text-muted small">12 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-tasks fa-fw"></i> New Task
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a class="text-center" href="#">
                                        <strong>See All Alerts</strong>
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.dropdown-alerts -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                                </li>
                                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for('security.logout') }}"><i class="fa fa-sign-out fa-fw"></i>
                                    Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->

                    {% endif %}

                </ul>
                <!-- /.navbar-top-links -->

                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="{{ url_for('frontend.index') }}"><i class="fa fa-crow fa-fw"></i>Index</a>
                            </li>
                            {% if not current_user.is_authenticated %}
                                {% include "security/_menu.html" %}
                            {% else %}

                                <li>
                                    <a href="{{ url_for('frontend.user_dashboard') }}"><i class="fa fa-dochub fa-fw"></i> My certificates</a>
                                    <!-- /.nav-second-level -->
                                </li>
                                <li>
                                    <a href="{{ url_for('frontend.organisation') }}"><i class="fa fa-table fa-fw"></i>
                                        Organisation</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
            </nav>


        {% endblock %}
    {% endblock %}

    <div id="page-wrapper" >
        {% block content %}{% endblock %}
    </div>

    <!--Footer-->
        <footer class="footer">
            <div class="container">
                <span class="text-muted"> © 2018 Copyright: Nikita Kosov</span>
                <!--/Copyright-->
            </div>
        </footer>
    <!--/Footer-->

    </div>
    {% block scripts %}


        <!-- jQuery -->
        <script src="{{ url_for('static', filename='lib/jquery/jquery.js' ) }}"></script>


        <!-- Bootstrap Core JavaScript -->
        <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js' ) }}"></script>


        <!-- Metis Menu Plugin JavaScript -->
        <script src="{{ url_for('static', filename='lib/metisMenu/metisMenu.min.js' ) }}"></script>


        {#    <!-- Morris Charts JavaScript -->#}
        {##}
        {#    <script src="{{ url_for('static', filename='lib/raphael/raphael.min.js' )}}"></script>#}
        {#    <script src="{{ url_for('static', filename='lib/morrisjs/morris.min.js' )}}"></script>#}
        {#    <script src="{{ url_for('static', filename='lib/sb-admin/morris-data.js' )}}"></script>#}

                <script type="text/javascript"
            src="{{ url_for('static', filename='lib/datatables/js/jquery.dataTables.js' ) }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/datatables-plugins/dataTables.bootstrap.js' ) }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='lib/datatables-responsive/dataTables.responsive.js' ) }}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="{{ url_for('static', filename='lib/sb-admin/js/sb-admin-2.js' ) }}"></script>
    {% endblock %}
    </body>
</html>