{% extends "./base.html" %}
{% block title %}Index{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Greetings</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><strong>Greetings</strong></h4>
                </div>
                <div class="panel-body">
                    Technically, Blockchain is a distributed database, spread across many computers with no central
                    control
                    that
                    could transform governance, the economy, businesses and the functioning of organisations. And by the
                    way, it’s
                    already here, not only in Bitcoin, but in many other services and commodities – badges, credits, and
                    qualifications.
                    Each ‘block’ is transparent but tamper-proof. A ‘block’ has a timestamp for recording transactions
                    and
                    offers
                    indelible proof of all of them. Rather than relying on third parties, it’s a frictionless method for
                    transacting
                    with others.
                    In normal speak, the basic idea is that you cut out the middleman. There is no central database as
                    everything is
                    distributed, public, synchronised and encrypted. All transactions are logged with a time, date and
                    other
                    details
                    – then verified by some very smart maths. Consensus decides, and every transaction is public.
                    What this promises is a more efficient, secure and transparent way of handling transactions. This
                    could
                    save a
                    huge amount of administration, bureaurocracy, effort and time. The Internet of things may release
                    its
                    potential.
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><strong>Who can use it?</strong></h4>
                </div>
                <div class="panel-body">
                    Blockchain can be implemented within individual educational institutions, groups of educational
                    institutions,
                    and both national and international educational bodies. In fact anyone wanting to securely store
                    badges,
                    credits, and qualifications – and make educational data that matters available to others – could
                    consider using
                    blockchain technology.
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>

{% endblock %}